#trip_description > img {
    float: left;
    width: 200px;
    height: 150px;
    margin: 20px 20px 20px 0;
    object-fit: fill;
}

#trip_description > ul {
    list-style-type: none;
}

#trip_description > ul > li {
    text-indent: -5px;
}

#trip_description > ul > li::before {
    content: "-";
    padding-right: 5px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px 0;
}

#links > a {
    background-color: bisque;

    border: solid 1px black;

    padding: 3px;
}

#links > a:hover {
    background-color: rgba(0,0,0,0.2);
}

#links > a:first-child::before {
    content: "< "
}

#links > a:last-child::after {
    content: " >"
}